.contactInfo {
	display: flex;
	flex-direction: column;
	text-align: right;

	.contactType {
		color: rgb(150, 150, 150);

		&:after {
			content: ': ';
		}
	}

	a {
		color: rgb(0, 0, 255);
	}

	@media print {
		a {
			color: rgb(0, 0, 0);
			text-decoration: none;
		}
	}
}